body, * {
    font-family: 'Glegoo', 'sans-serif';
    margin: 0;
}

body {
    background-image: linear-gradient(#fffffff1,#fffffff1), url('./images/download.png');
    background-size:     contain;                   
    background-repeat: repeat;
    background-position: center center;
}

body.nm {
    background-image: linear-gradient(#000000CC, #000000CC), url('./images/download-1.png');
    background-size:     contain;                   
    background-repeat: repeat;
    background-position: center center;
}

.landingCont::-webkit-scrollbar {
    display: none;
}

.landingCont {
    height: 90vh;
    width: 100vw;
}

.logoCont > img {
    width: 25vw;
}

.logoCont {
    height: inherit;
    width: inherit;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoCont > a {
    text-decoration: none;
    color: black;
}

.logoCont > a.nm {
    color: white;
}

.logoCont > a:hover {
    opacity: 60%;
}

.copyCont {
    display: flex;
    align-items: center;    
    position: fixed;
    bottom: 80px;
    left: -50px;
    transform: rotate(-90deg);
    transform-origin:  bottom; 
}

.copyCont > div {
    width: 150px;
    height: 3px;
    background: black;    
}

.copyCont > div.nm {
    width: 150px;
    height: 3px;
    background: white;    
}

.copyCont > h5 {
    font-size: small;
    margin-left: 5px;
}

.shopCont {
    display: flex;
    align-items: center;    
    position: fixed;
    top: 80px;
    right: -50px;
    transform: rotate(90deg);
    transform-origin:  top;
}

.shopCont > div {
    width: 150px;
    height: 3px;
    background: black;    
}

.shopCont > div.nm {
    width: 150px;
    height: 3px;
    background: white;    
}

.shopCont > a {
    margin-left: 5px;
    text-decoration: none;
    color: black;
    font-size: small;
}

.shopCont > a.nm {

    color: white;
}

.shopCont > a:hover {
    opacity: 60%;
}

.menuBtn {
    display: flex;
    justify-content: center;
    border-top: 2px solid black;  
    cursor: pointer;
    margin: auto;  
    margin-top: 1rem;
    width: 100px;
    align-items: center;
}

.menuBtn.nm{
    border-top: 2px solid white;  
    
}

.menuBtn:hover {
    opacity: 60%;
}

.viewBtn:hover {
    cursor: pointer;
    opacity: 60%;
}

.side {
    color: black;
    z-index: 990;
    position: fixed;
    top: -40vh;
    display: flex;
    background: white;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
    width: 100vw;
    transition: top 1s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;;
}  

.side.nm {
    border-bottom: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;;
    color: white;
    background: #0e0e0e;
}

.side.open {
    top: 0px;
}

.side > a {
    text-decoration: none;    
    color: black;
}

.side > a.nm {
    color: white;
}

.side > a:hover {
    opacity: 60%;
    cursor: pointer;
}

#menuUp {
    margin-top: 0.5rem;
    font-size: x-large;
    cursor: pointer;
}

#menuUp:hover {
    opacity: 70%;
}

#lo {
    cursor: pointer;
}

#lo:hover {
    opacity: 60%;
}

#homeBtn {
    position: absolute;
    top: -40vh;
    z-index: 999;
    transition: top 1s;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    left: 1.5rem;
    cursor: pointer;
    
}

#homeBtn.nm{
    color: white;
}

#homeBtn:hover {
    opacity: 60%;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}

#homeBtn.open {
    top: 1.5rem;
    left: 1.5rem;
}

#nmBtn {
    position: absolute;
    top: -40vh;
    z-index: 999;
    transition: top 1s;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    right: 1.5rem;
    cursor: pointer;
    
}

#nmBtn.nm{
    color: yellow;
}

#nmBtn:hover {
    opacity: 60%;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}

#nmBtn.open {
    top: 1.5rem;
    right: 1.5rem;
}

.nm {
    color: white;
}
.nmBack {
    background: #313131;
}

.wrapper {
    padding: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wrapper .input-data {
    height: 3vh;
    width: 30vw;
    position: relative;
    margin: 2rem;
  }


  .wrapper .input-data input.nm {
    background: #0e0e0e;
    border: 1px solid white;
    color: white;
  }

  .wrapper .input-data label {
    position: absolute;
    bottom: -15px;
    left: 5px;
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: 1rem;
  }

  .wrapper .input-data input {
    height: 100%;
    width: 100%;
    padding: 10px 10px 10px 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;;
  }

  .input-data input:focus {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;;
  }

  .input-data input:valid ~ label,
  .input-data  input:focus ~ label{
    transform: translateY(-25px);
    background: rgba(255,255,255, 0.88);
    color: #0A2CDF;
    font-size: 1rem;
  }

  .input-data input:valid ~ label.nm,
  .input-data  input:focus ~ label.nm{
    transform: translateY(-25px);
    background:  rgba(14,14,14, 0.95);
    
    color: #0A2CDF;
  }

  .sTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .signupBtn {
    width: 10vw;
    height: 5vh;
    margin: 2rem;
    border: none;
    background: #0A2CDF;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;;
  }

  .signupBtn:hover {
    opacity: 80%;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;;
  }

  .swit {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
  }

  .valCont {
    width: 40vw;
    height: 45vh;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;;
  }

  .valCont.nm {
    background: #0E0E0E;
    border: 1px solid white;
  }

  .reqT {
    text-align: center;
    border-bottom: 1px solid black;
    width: fit-content;
    margin: auto;
  }

  .reqB {
    text-align: center;
    margin: auto;

    color: red;
  }

  .reqCont {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    height: 30vh;
  }

  .reqCol {
    display: flex;
    flex-direction: column;
  
  }

  .reqRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
  }
   
  .reqRow > span {
    padding: 2px;
    border: 3px solid black;
    margin-right: 1rem;
    color: white;
  }

  .reqRow > span.nm {
    border: 3px solid white;
    color: black;
  }

  #eye1 , #eye2, #eye {
    cursor: pointer;
    font-size: larger;
    position: absolute;
    bottom: -8px;
    right: -5px;
  }

  #eye1:hover, #eye2:hover, #eye:hover {
    opacity: 80%;
  }

  .gotosu {
    text-decoration: none;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .gotosu.nm {
    color: white;
  }

  .loginCont {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .learn {
    text-decoration: none;
    color: black;
    cursor: pointer;
    justify-content: flex-end;
    font-size: smaller;
    margin-top: 5rem;
  }

  .learn:hover, .gotosu:hover {
      opacity: 70%;
  }

  .learn.nm {
      color: white;
  }
  .map {
      position: relative !important;
      width: 70vw !important;
      height: 50vh !important;
      margin: auto;
      margin-top: 2rem;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;;
  }

  .mapInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 25px 50px;
      text-align: center;
      height: 20vh;
  }
  .footerCont {
      position: fixed;
      bottom: 0;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
  }

  .ti {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 1rem;
  }

  .logo > img {
      width: 7vw;
      position: absolute;
      bottom: 0;
      left: 0;
  }

  .w {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  #wIcon {
      width: 35vw;
      height: 20vh;
      object-fit: contain;
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .weth {
      text-align: center;
      margin: 2rem 1rem 1rem 1rem;
      font-size: x-large;
  }

  .tempCont {
    display: flex;
    justify-content: center;  
    margin-left: 1rem;    
}

.tempCont h2, h4 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.tempCont h2 {
    font-size: xx-large;
    margin-top: 1rem;
}

.tempCont h4 {
    font-size: larger;
}

.addBtn {
    position: fixed;
    top: 30%;
    right: 0;
    border-top: 3px solid #0A2CDF;
    border-left: 3px solid #0A2CDF;
    border-bottom: 3px solid#0A2CDF;
    padding: 1px 15px;   
    color: #0A2CDF; 
    cursor: pointer;
}

.addBtn:hover {
    background: #0A2CDF;
    color: white;
}
.rmvBtn {
    position: fixed;
    top: 35%;
    right: 0;
    border-top: 3px solid red;
    border-left: 3px solid red;
    border-bottom: 3px solid red;
    padding: 1px 14px;   
    color: red; 
    cursor: pointer;
}

.rmvBtn:hover {
    background: red;
    color: white;
}

.bottomWeathSection {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bRow, .tRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.bar {
    margin: 1rem;
    font-size: 1.5rem;
}

.fadeIn {
	animation: fadeIn 2s;
  	opacity: 1;
}

@keyframes fadeIn {
    0% {  opacity:0; }
    100% { opacity: 1; }
}

.errTit {
    position: absolute;
    top: 40%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
}

.lds-ring {
    margin-top: 3rem;
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 8px;
    border: 8px solid #000000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #0E0E0E transparent transparent transparent;
  }

  .lds-ring div.nm {
 
    border: 8px solid white;
    border-color: white transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media screen and (max-width: 430px) {
    .swit {
        align-items: center;
    }
    body.nm {
        height: 100vh;
        width: unset;
    }
    .rmvBtn {
        top: 36%;
    }
    #wIcon {
        height: unset;
        margin-top: unset;
        object-fit: unset;
    }
    .logo > img {
        width: 20vw;    
    }
    .mapInfo {
        height: 30vh;
        font-size: medium;
        margin-top: 1rem;
    }
    .map {
        width: 95vw !important;
        height: 35vh !important;
        margin-top: 1rem;
    }

    #eye1 , #eye2, #eye {
        font-size: larger;
        bottom: 12px;
        right: 4px;
      }
    .reqB {
        margin-top: 2rem;
    }
    .reqCont {
        height: 35vh;
        align-items: unset;
    }
    .reqCol {
        justify-content: unset;
    }
    .wrapper .input-data label {
        bottom: 8px;
      }
    .wrapper .input-data {
        height: unset;
        width: unset;
      
        margin: 1rem;
      }

      .wrapper .input-data input {
        padding: 2px;
        height: 5vh;
      }
    .swit {
        flex-direction: column;
    }
    .valCont {
        width: 90vw;
        height: 55vh;
        margin-bottom: 1rem;
    }

    .signupBtn {
        width: 45vw;
        font-size: medium;
    }

    .wrapper .input-data {
        width: 70vw;
        margin: 1rem;
    }
    
    #homeBtn {
        left: 1rem;
    }
    #homeBtn.open {
        top: 1.6rem;
        left: 1rem;
    }
    .copyCont {
        left: -100px;
    }
    .shopCont {
        right: -100px;
    }

    .viewBtn {
        margin-bottom: 4rem;
    }
    .logoCont > img {
        width: 70vw;
    }
}

@media screen and (max-width: 330px) {
    .side {
        font-size: small;
    }
    .bottomWeathSection {
        margin-top: unset;
    }

    .mapInfo {
        padding: 25px 20px;
    }

    .bRow, .tRow {
        font-size: smaller;
    }
    
    .wC .footerCont {
        display: none;
    }

    .input-data input:valid ~ label,
  .input-data  input:focus ~ label{
    
    font-size: 0.9rem;
  }
    .wrapper .input-data label {
        bottom: 5px;
    }
    #eye1 , #eye2 {
        bottom: 7px;
      }
    .reqB {
        margin-top: 7rem;
    }

    .valCont {
        box-shadow: unset;
        border: none;
    }
    .logoCont > img {
        width: 90vw;
    }
    .viewBtn {
        margin-bottom: 0;
    }

    .logoCont > img {
        width: 65vw;
    }
}

@media screen and (orientation: landscape) and (max-height: 440px) {
     body.nm {
        height: unset;
        width: unset;
    }
    .rmvBtn {
        top: 42%;
    }
    .mapInfo {
        margin: 2rem;
    }
    .logo >img {
        display: none;
    }
    .ti {
        display: none;
    }
    .side {
        height: 50vh;
        top: -60vh;
    }
    .logoCont > img {
        width: 40vw;
    }
    .viewBtn {
        margin-bottom: 0.5rem;
    }

    .valCont {
        height: 85vh;
    }

    .reqCont {
        height: unset;
    }

    .swit {
        align-items: baseline;
        justify-content: space-evenly;
    }
}

@media screen and (orientation: landscape) and (max-height: 340px) {
    .side {
        font-size: small;
    }
    .menuBtn {
        position: sticky;
    }
    .logoCont > img {
        width: 35vw;
    }
}