body, * {
    font-family: 'Glegoo', 'sans-serif';
    margin: 0;
}

.landingCont {
    height: 90vh;
    width: 100vw;
}

.logoCont > img {
    width: 25vw;
}

.logoCont {
    height: inherit;
    width: inherit;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoCont > a {
    text-decoration: none;
    color: black;
}

.logoCont > a.nm {
    color: white;
}

.logoCont > a:hover {
    opacity: 60%;
}

.copyCont {
    display: flex;
    align-items: center;    
    position: fixed;
    bottom: 80px;
    left: -50px;
    transform: rotate(-90deg);
    transform-origin:  bottom; 
}

.copyCont > div {
    width: 150px;
    height: 3px;
    background: black;    
}

.copyCont > div.nm {
    width: 150px;
    height: 3px;
    background: white;    
}

.copyCont > h5 {
    font-size: small;
    margin-left: 5px;
}

.shopCont {
    display: flex;
    align-items: center;    
    position: fixed;
    top: 80px;
    right: -50px;
    transform: rotate(90deg);
    transform-origin:  top;
}

.shopCont > div {
    width: 150px;
    height: 3px;
    background: black;    
}

.shopCont > div.nm {
    width: 150px;
    height: 3px;
    background: white;    
}

.shopCont > a {
    margin-left: 5px;
    text-decoration: none;
    color: black;
    font-size: small;
}

.shopCont > a.nm {

    color: white;
}

.shopCont > a:hover {
    opacity: 60%;
}

.menuBtn {
    display: flex;
    justify-content: center;
    border-top: 2px solid black;  
    cursor: pointer;
    margin: auto;  
    margin-top: 1rem;
    width: 100px;
    align-items: center;
}

.menuBtn.nm{
    border-top: 2px solid white;  
    
}

.menuBtn:hover {
    opacity: 60%;
}

.viewBtn:hover {
    cursor: pointer;
    opacity: 60%;
}

.side {
    color: black;
    z-index: 990;
    position: fixed;
    top: -40vh;
    display: flex;
    background: white;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
    width: 100vw;
    transition: top 1s;
    border-bottom: 2px solid black;
}  

.side.nm {
    border-bottom: 2px solid white;
    color: white;
    background: #0E0E0E;
}

.side.open {
    top: 0px;
}

.side > a {
    text-decoration: none;    
    color: black;
}

.side > a.nm {
    color: white;
}

.side > a:hover {
    opacity: 60%;
    cursor: pointer;
}

#menuUp {
    margin-top: 0.5rem;
    font-size: x-large;
    cursor: pointer;
}

#menuUp:hover {
    opacity: 70%;
}

#homeBtn {
    position: absolute;
    top: -40vh;
    z-index: 999;
    transition: top 1s;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    left: 1.5rem;
    cursor: pointer;
    
}

#homeBtn.nm{
    color: white;
}

#homeBtn:hover {
    opacity: 60%;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}

#homeBtn.open {
    top: 1.5rem;
    left: 1.5rem;
}

#nmBtn {
    position: absolute;
    top: -40vh;
    z-index: 999;
    transition: top 1s;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    right: 1.5rem;
    cursor: pointer;
    
}

#nmBtn.nm{
    color: yellow;
}

#nmBtn:hover {
    opacity: 60%;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}

#nmBtn.open {
    top: 1.5rem;
    right: 1.5rem;
}

.nm {
    color: white;
}
.nmBack {
    background: #313131;
}

@media screen and (max-width: 430px) {
    #homeBtn {
        left: 1rem;
    }
    #homeBtn.open {
        top: 1.6rem;
        left: 1rem;
    }
    .copyCont {
        left: -100px;
    }
    .shopCont {
        right: -100px;
    }

    .viewBtn {
        margin-bottom: 4rem;
    }
    .logoCont > img {
        width: 70vw;
    }
}

@media screen and (max-width: 330px) {
    .logoCont > img {
        width: 90vw;
    }
    .viewBtn {
        margin-bottom: 0;
    }

    .logoCont > img {
        width: 65vw;
    }
}

@media screen and (orientation: landscape) and (max-height: 440px) {
    .side {
        height: 50vh;
        top: -50vh;
    }
    .logoCont > img {
        width: 40vw;
    }
    .viewBtn {
        margin-bottom: 0.5rem;
    }
}

@media screen and (orientation: landscape) and (max-height: 340px) {
    .menuBtn {
        position: sticky;
    }
    .logoCont > img {
        width: 35vw;
    }
}